<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>订单改价</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename = 'ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'signin.css')}}" rel="stylesheet">
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'ajax.js') }}" ></script>
	<script>
		document.onkeydown = function onkeydown() { 
			if(event.keyCode == 13) { 
				document.getElementById("submit").click(); 
				return false; 
			} 
		} 
		function run()
		{
		var phone = document.getElementById("phone").value;
		var env = $('input[name="env"]:checked').val();
		if (phone =="请输入账号"){alert('请输入账号');return}
		$.ajax({
				url: "/adjust1",   //对应flask中的路由
				type: "POST", //请求方法
				data: {'phone':phone, 'env':env},	 //传送的数据
				dataType: "json", //传送的数据类型
				success: function (res) {	//成功得到返回数据后回调的函数
					code = res["code"]
					orderId = res['orderId']
					if (code == '0'){
						mes = "订单："+orderId+'\n改价成功！'
					}
					else {
						mes = '无待支付订单'
					}
					alert(mes)
				}
			})
		}
</script>

  </head>

  <body>

    <div class="container">

      <div class="form-signin">
        <h2 class="form-signin-heading">订单改价</h2>
        <label  class="sr-only">订单账号</label>
        <input required maxlength="11" pattern="[0-9]*" id="phone" type="text" value= {{result}} onfocus="this.value = '';" onblur="if (this.value == '') {this.value = {{result}};}"}" class="form-control" required >
        <div class="radio">
          <label>
            <input type="radio" value="0" name="env" checked> 测试环境
          </label>
          <label>
            <input type="radio" value="1" name="env"> 开发环境
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="run()">改价</button>
      </div>

    </div> <!-- /container -->



  </body>
</html>
